:root {
    --matcha-green: forestgreen; 
    --light-gray: rgba(211, 211, 211, 0.5);

    --header-height: 52px;
}

html, body, #content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

main {
    margin-top: var(--header-height);
    flex: 1 0 0;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: min(20px, 5vw);
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: var(--light-gray);
    height: var(--header-height);
}

footer {
    text-align: center;
    background-color: var(--light-gray);
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.nav-button {
    border: 2px solid var(--matcha-green);
    color: black;
    border-radius: 5px;
    font-size: max(min(2.5vw, 26px), 16px);
    padding: 0.5vw;
    cursor: pointer;
}

.nav-button:hover, .nav-button.active {
    background-color: var(--matcha-green);
    color: white;
}


/* Menu cards */

.menu-tab {
    padding: 5vw 0vw 5vw 0vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10vw;
    justify-content: center;
}

.menu-card {
    width: 30vw;
    height: 30vw;
    min-width: 350px;
    max-width: 450px;
    min-height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
    border-radius: 2vw;
}

.menu-card div {
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-card img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border-radius: 2vw 2vw 0vw 0vw;
}


/* Home, Contact cards */

.home-tab, .contact-tab {
    padding: 5vw 0vw 5vw 0vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
}

.home-card, .contact-card {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80vw;
    min-width: 350px;
    max-width: 900px;
    height: 35vw;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2), 0 8px 8px 0px rgba(0, 0, 0, 0.18);
    border-radius: 2vw;
}

.home-card div, .contact-card div {
    width: 50%;
}

.home-card img, .contact-card img {
    object-fit: cover;
    width: 50%;
    height: 100%;
    border-radius: 2vw 0 0 2vw;
}


/* Maps */
.gmap-div {
    height: 100%;
    width: 100%;
}

#gmap-canvas {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 2vw 0 0 2vw;
}
